<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.charityapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".NewsActivity"></activity>
        <activity android:name=".jAAMAIYAACTIVITY" />
        <activity android:name=".ContactUsActivity" />
        <activity android:name=".CartDonations" />
        <activity android:name=".Others" />
        <activity android:name=".BabyTools" />
        <activity android:name=".Donate" />
        <activity android:name=".Shoes" />
        <activity android:name=".Clothes" />
        <activity android:name=".ActivityCategory" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginPage" />
        <activity android:name=".ActivityElectric" />
        <activity android:name=".Forniture" />
        <activity android:name=".RegisterPage" />
        <activity android:name=".SplashScreen">
            <intent-filter android:icon="@drawable/ic_launcher_background">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>